<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Seznam článků</title>
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/normalize.css" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" href="/css/skeleton.css" th:href="@{/css/skeleton.css}">
    <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}">
    <link rel="icon" type="image/png" href="/images/favicon.png" th:href="@{/images/favicon.png}">
</head>
<body>
<main class="container">
    <h1 th:utext="${clanek.title}">Seznam článků</h1>
    <h3 th:utext="${clanek.published}">Seznam článků</h3>
    <h3 th:utext="${clanek.perex}">Seznam článků</h3>
    <h3 th:utext="${clanek.slug}">Seznam článků</h3>
    <h3 th:utext="${clanek.author}">Seznam článků</h3>
    <p th:utext="${clanek.body}">Seznam článků</p>
    <a href="/">Zpět</a>
</main>
</body>
</html>
