<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Seznam článků</title>
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/normalize.css" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" href="/css/skeleton.css" th:href="@{/css/skeleton.css}">
    <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}">
    <link rel="icon" type="image/png" href="/images/favicon.png" th:href="@{/images/favicon.png}">
</head>
<body>
<main class="container">
    <h1>Seznam článků</h1>
    <table class="u-full-width">
        <thead>
        <tr>
            <th>Titulek</th>
            <th>Perex</th>
            <th>Datum publikování</th>
            <th>Autor</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="seznam: ${seznam}">
            <td th:utext="${seznam.title}"></td>
            <td th:utext="${seznam.perex}"></td>
            <td th:utext="${#temporals.format(seznam.published, 'd. MMMM yyyy')}"></td>
            <td th:utext="${seznam.author}"></td>
            <td><a th:href="@{/post(slug=${seznam.slug})}">Přečíst</a></td>

        </tr>
        </tbody>
    </table>
</main>
</body>
</html>
